<h1 style="background: linear-gradient(to right, #1E3A8A, #4F73C9); color: white; font-style: italic; padding: 10px 20px; border-radius: 50px; text-align: left; font-weight:700;">
        Laboratorio 6: ETL - P1
</h1>

In [1]:
import pandas as pd

### 
<h3 style="color: #1E3A8A; border-bottom: 2px solid #1E3A8A; padding-bottom: 5px; text-align: left;">
    Leer el archivo y cargarlo en memoria
</h3>

Primero se tiene que leer el archivo y cargarlo en memoria. En este caso la variable `df` guardará el DataFrame con toda la información contenida en el archivo csv.

In [18]:
df = pd.read_csv('../data/sales_data.csv', parse_dates=['ORDERDATE'], encoding='latin1')
df.head()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,PHONE,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME
0,10107,30,95.70,2,2871.00,2003-02-24,Shipped,1,2,2003,...,2125557818,897 Long Airport Avenue,NaN,NYC,NY,10022,United States,NaN,Yu,Kwai
1,10121,34,81.35,5,2765.90,2003-05-07,Shipped,2,5,2003,...,26.47.1555,59 rue de l'Abbaye,NaN,Reims,NaN,51100,France,EMEA,Henriot,Paul
2,10134,41,94.74,2,3884.34,2003-07-01,Shipped,3,7,2003,...,+33 1 46 62 7555,27 rue du Colonel Pierre Avia,NaN,Paris,NaN,75508,France,EMEA,Da Cunha,Daniel
3,10145,45,83.26,6,3746.70,2003-08-25,Shipped,3,8,2003,...,6265557265,78934 Hillside Dr.,NaN,Pasadena,CA,90003,USA,NaN,Young,Julie
4,10159,49,100.00,14,5205.27,2003-10-10,Shipped,4,10,2003,...,6505551386,7734 Strong St.,NaN,San Francisco,CA,NaN,United States,NaN,Brown,Julie

In [11]:
df.shape

(2823, 24)

In [7]:
df.dtypes

ORDERNUMBER                  int64
QUANTITYORDERED              int64
PRICEEACH                  float64
ORDERLINENUMBER              int64
SALES                      float64
ORDERDATE           datetime64[ns]
STATUS                      object
QTR_ID                       int64
MONTH_ID                     int64
YEAR_ID                      int64
PRODUCTLINE                 object
MSRP                         int64
PRODUCTCODE                 object
CUSTOMERNAME                object
PHONE                       object
ADDRESSLINE1                object
ADDRESSLINE2                object
CITY                        object
STATE                       object
POSTALCODE                  object
COUNTRY                     object
TERRITORY                   object
CONTACTLASTNAME             object
CONTACTFIRSTNAME            object
dtype: object

In [10]:
df.nunique(axis=0)

ORDERNUMBER          307
QUANTITYORDERED       58
PRICEEACH           1016
ORDERLINENUMBER       18
SALES               2763
ORDERDATE            252
STATUS                 6
QTR_ID                 4
MONTH_ID              12
YEAR_ID                3
PRODUCTLINE            7
MSRP                  80
PRODUCTCODE          109
CUSTOMERNAME          92
PHONE                 91
ADDRESSLINE1          92
ADDRESSLINE2           9
CITY                  73
STATE                 16
POSTALCODE            73
COUNTRY               20
TERRITORY              3
CONTACTLASTNAME       77
CONTACTFIRSTNAME      72
dtype: int64

Tenemos un potencial problema con el archivo. No existe un identificador único para cada registro, lo que podría ser indicador de que los registros no están normalizados.

### 
<h3 style="color: #1E3A8A; border-bottom: 2px solid #1E3A8A; padding-bottom: 5px; text-align: left;">
    Eliminar todos los registros que tengan valores nulos en la columna STATE
</h3>

In [44]:
nulos = round(df['STATE'].isnull().sum())
proporcion = round(nulos*100/df.shape[0], 2)
print(f'La proporción de valores nulos en la columna STATE es de {proporcion}% y son {nulos} registros')

La proporción de valores nulos en la columna STATE es de 52.64% y son 1486 registros

Se eliminaran aquellos registros que tengan valores nulos en esta columna

In [42]:
df_sin_nulos = df.drop(df.loc[df['STATE'].isnull()].index, axis=0)
df_sin_nulos.shape

(1337, 24)

In [41]:
df_sin_nulos.isnull().sum()

ORDERNUMBER            0
QUANTITYORDERED        0
PRICEEACH              0
ORDERLINENUMBER        0
SALES                  0
ORDERDATE              0
STATUS                 0
QTR_ID                 0
MONTH_ID               0
YEAR_ID                0
PRODUCTLINE            0
MSRP                   0
PRODUCTCODE            0
CUSTOMERNAME           0
PHONE                  0
ADDRESSLINE1           0
ADDRESSLINE2        1087
CITY                   0
STATE                  0
POSTALCODE            76
COUNTRY                0
TERRITORY           1074
CONTACTLASTNAME        0
CONTACTFIRSTNAME       0
dtype: int64

### 
<h3 style="color: #1E3A8A; border-bottom: 2px solid #1E3A8A; padding-bottom: 5px; text-align: left;">
    Guardar el resultado en un archivo XML
</h3>

Antes de exportar el archivo en formato XML, se reasigna el DataFrame sin nulos al DataFrame original para mantener la misma nomenclatura en las distintas secciones del proceso:

In [45]:
df = df_sin_nulos

In [47]:
df.to_xml('../results/sales_data.xml', parser='etree')